<!DOCTYPE html>
<html manifest="offlinexmb.cache">
  <style>
    body{color: white; background-image:url(1.jpg); background-attachment:fixed; background-size:100%; background-repeat:no-repeat;}
    input{width:25px;height:25px;background-color: transparent;}
  </style>
<html>
<head>
 <title>NIGHT KING v4.4 - 6.72 FW</title>
 <meta charset="UTF-8" />
 <link rel="stylesheet" href="css/icon.css">
 <link rel="stylesheet" href="css/materialize.css">
 <link rel="stylesheet" href="css/main2.css">
<script>
function DLProgress(e){
	parent.ScrOverlay.style.display="block";
	Percent=(Math.round(e.loaded / e.total * 100));
	parent.cacheUPDtxt.innerHTML="Installing Offline Cache: " + Percent + "%";
	parent.CacheBar.style.width=Percent + '%';
}
function DisplayCacheProgress(){
	setTimeout(function(){parent.cacheUPDtxt.innerHTML="Cache Installed Successfully";},1000);
	setTimeout(function(){parent.ScrOverlay.style.opacity="0";},2500);
	setTimeout(function(){parent.ScrOverlay.style.display="none";},3500);}
	window.applicationCache.addEventListener("progress",DLProgress,false);
	window.applicationCache.oncached=function(e){DisplayCacheProgress();};
	window.applicationCache.onupdateready=function(e){DisplayCacheProgress();};
	window.applicationCache.onerror=function(e){parent.cacheUPDtxt.innerHTML="Error Installing Cache";
};
</script>
</head>
<body id="body"  >
    <div id=ScrOverlay class=cacheUPDbg><pre id=cacheUPDtxt class=cacheUPD></pre>
<div id=CacheProgress><div id=CacheBar></div></div></div>
 <div id="app" ><!-- app start -->
 
 <canvas v-show="isAnimate1Show" id=c></canvas>
 
 <nav class="transparent" ><!-- navbar start -->
  <div class="nav-wrapper">
   <a href="javascript:void(0)" class="brand-logo left" style="text-shadow: 4px 4px 4px black;">NIGHT KING v4.4 - 6.72 FW</a>
   <ul id="nav-mobile" class="right"><!-- navbar links -->
   
    <li class="waves-effect waves-light" v-if="lang!=='fa'" @click="changeLang('fa')"><a>فارسی</a></li>
    <li class="waves-effect waves-light" v-if="lang!=='eng'" @click="changeLang('eng')"><a>English</a></li>
    <li class="waves-effect waves-light" v-if="lang!=='esp'" @click="changeLang('esp')"></li>
    <li class="waves-effect waves-light" v-if="!isPayloadShow" @click="showMain"><a>{{changeText("صفحه اصلی","Main Page","Página de inicio")}}</a></li>
    <li class="waves-effect waves-light" v-if="!isThemesShow" @click="showTheme"><a>{{changeText("تم ها","Themes","Temas")}}</a></li>
    <li class="waves-effect waves-light" v-if="!isAboutUsShow" @click="showAboutUs"><a>{{changeText("درباره ما","About Us","sobre nosotros")}}</a></li>
   </ul>
  </div>
 </nav><!-- navbar end -->
  
  <div class="loader" v-if="isLoaderShow">
   <a href="./auto.html" class="button" style="width:1%;text-shadow: 4px 4px 4px black;">Auto</a>
      <span id="msgs" style="text-shadow: 4px 4px 4px black;">
    {{changeText("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;نوع اکسپلویت را انتخاب کنید","Choose the type Exploit To Continue","")}}
   </span>   
   <a href="./manual.html" class="button2" style="width:1%;text-shadow: 4px 4px 4px black;">Manual</a>
   <span id="date" ></span>
   <span id="clock" ></span>
  </div>
  
  <div class="payloads" v-show="isPayloadShow"><!-- payloads list start -->
   <div v-for="payload,key in payloads" @click="loadPlayload(key)" @mouseover="hover(key)" @mouseleave="hover()" class="tile">
    <img :src="'img/'+payload.icon" >
    <p class="white-text" >{{payload.name}}</p>
   </div>   
  </div><!-- payloads list end -->
  <div class="detail" v-show="isDetailShow" :style="lang=='eng' ? 'direction:ltr;text-align:left;float:left;' : 'direction:rtl;text-align:right;float:right;' " ><!-- tozihat-->
   <span id="detail" ></span>
  </div>
  
  <div class="theme" v-show="isThemesShow"><!-- themes start -->
    
    <div class="card" v-for="theme,key in themes" @click="changeTheme(key)">
     <div class="card-image">
      <img :src="'img/'+theme.url">
     </div>
     <div class="card-action waves-effect waves-light" style="width:100%" >
      <div class="center" :class="{ 'green-text': theme.selected, 'white-text': !theme.selected}">{{theme.selected ? changeText("انتخاب شده","Selected","Selectionne") : changeText("انتخاب","Select","Seleccione") }}</div>
     </div>
    </div>

  </div><!-- themes end -->
  
  <div class="Donation"  v-show="isDonationShow" :dir="changeText('rtl','ltr','ltr')" ><!-- Donation start -->
    <h4><b>{{changeText("حمایت از نایت کینگ","Donation","Donation")}}</b></h4>
    <p>{{changeText("جهت حمایت از نایت کینگ می توانید از طریق لینک زیر اقدام نمایید","To support us, follow the link below","Para apoyarnos, siga el enlace a continuacion")}} :</p>
      <p style="color:red;"> 💳 <a href="https://idpay.ir/night-king" target="_blank"> ID-Pay (Iran) Night-King </a> 💳 </p>
	  <p style="color:red;"> 💳 <a > BTC Wallet [ Night King ] :  1Hp8HtvdCcfyJW366kbamA89LvH3moiHB1 </a> 💳 </p>
   </div><!-- Donation end -->

  
   <div class="aboutUs"  v-show="isAboutUsShow" :dir="changeText('rtl','ltr')" ><!-- about us start -->
    <h4><b>{{changeText("درباره ما","About Us","")}}</b></h4>
    <p>{{changeText("نایت کینگ نسخه 4.4 - نسخه خصوصی برای فریمور 6.72","NIGHT KING v4.4 - Private Version For 6.72 FW","")}}</p>
    <p>{{changeText("ما هیچ گروه یا کانال عمومی در تلگرام نداریم !!","We Don't Have Any Public Telegram Group Or Channel !!","")}}</p>
    <p>{{changeText("✔تشکر فوق العاده ویژه از :الازیف -  لیفول - سیسترو","✔Super Special Thanks To : Alazif - Leeful  - SiSTRo","")}}</p>
    <p>{{changeText("✔مالک اصلی : SALT - با ما از طریق تلگرام در ارتباط باشید 📞 Salt753194@ 📞","✔Main Owner : SALT - Find Us In Telegram 📞 @Salt753194 📞 ","")}}</p>
    <p>{{changeText("✔طراح ارشد : امیرحسین کیان فرد","✔Senior Designer : Amirhossein Kianfard","")}},</p>
    <p>{{changeText("آخرین به روزرسانی در مهر 1399","Last Update At October 2020","")}}</p>
   </div><!-- about us end -->
   
   
  </div><!-- app end -->
  
  
  <!-- js section  -->
 <script src="js/materialize.js"></script>
 <script type="text/javascript">
 if(localStorage.getItem("theme")==null){
  localStorage.setItem("theme",0)
 }
 if(localStorage.getItem("lang")==null){
  localStorage.setItem("lang","eng")
 }
 </script>
 <script src="js/vue.js"></script>
 <script type="text/javascript">
  var app = new Vue({
   el: '#app',
   data: {
    isLoaderShow:true,
    isPayloadShow:true,
    isThemesShow:false,
	isDonationShow:false,
    isAboutUsShow:false,
    isDetailShow:false,
    isAnimate1Show:false,
    lang:localStorage.getItem("lang"),
    selectedTheme:localStorage.getItem("theme"),
    payloads:[
    ],
    themes:[
	 {url:"img00.jpg",animated:false,selected:false},
    ],
   },
   methods:{
    loadPlayload: function(key){
     
    },
    showMain:function(){
     this.isPayloadShow = true
     this.isThemesShow = false
     this.isAboutUsShow = false
     this.isLoaderShow = true
	 this.isDonationShow = false
    },
    showTheme:function(){
     this.isLoaderShow = false
     this.isAboutUsShow = false
     this.isThemesShow = true
     this.isPayloadShow = false
	 this.isDonationShow = false
    },
    showAboutUs:function(){
     this.isPayloadShow=false
     this.isAboutUsShow = true
     this.isLoaderShow = false
     this.isThemesShow = false
	 this.isDonationShow = false
    },
    showDonation:function(){
     this.isPayloadShow=false
     this.isAboutUsShow = false
     this.isLoaderShow = false
     this.isThemesShow = false
	 this.isDonationShow = true
    },
    changeTheme:function(key){
     this.themes[this.selectedTheme].selected=false
     localStorage.setItem("theme",(key))
     this.selectedTheme=localStorage.getItem("theme")
     this.themes[this.selectedTheme].selected=true
     if(this.themes[this.selectedTheme].animated){
      this.isAnimate1Show=true
     }else{
      this.isAnimate1Show=false
      document.getElementById("body").style.background="url(img/"+this.themes[localStorage.getItem("theme")].url+")";
      document.getElementById("body").style.backgroundRepeat="no-repeat";
      document.getElementById("body").style.backgroundSize="100%";
     }
    },
    changeLang:function(lang){
     localStorage.setItem("lang",lang)
     this.lang=localStorage.getItem("lang")
    },
    changeText:function(tfa,teng,tesp){
     if(this.lang=="fa"){
      return tfa;
     }
     if(this.lang=="eng"){
      return teng;
     }
     if(this.lang=="esp"){
      return tesp;
     }
     return "error to change lang";
    },
    hover:function(key){
     if(key !== undefined){
      this.isDetailShow = true
      if(this.lang=="fa"){
       document.getElementById("detail").innerHTML=this.payloads[key].fa_detail
      }
      if(this.lang=="eng"){
       document.getElementById("detail").innerHTML=this.payloads[key].eng_detail
      }
      if(this.lang=="esp"){
       document.getElementById("detail").innerHTML=this.payloads[key].esp_detail
      }
     }else{
      this.isDetailShow = false
     }
    },
    retLang:function(){
     return this.lang;
    }
   },
   created(){
    this.themes[this.selectedTheme].selected=true
    this.changeTheme(this.selectedTheme)
    fetch('counter.php?from=672_index')
   },
  })
</script>
 <script type="text/javascript">
  function showdate() {
  week= new Array("يكشنبه","دوشنبه","سه شنبه","چهارشنبه","پنج شنبه","جمعه","شنبه");
  months = new Array("1","2","3","4","5","6","7","8","9","10","11","12");
  a = new Date();
  d= a.getDay();
  Hour= a.getHours();
  Minute= a.getMinutes();
  Second= a.getSeconds();
  if(Minute<10){
  Minute="0"+Minute;
  }
  if(Second<10){
  Second="0"+Second;
  }
  if(Hour<10){
  Hour="0"+Hour;
  }
  day= a.getDate();
  month = a.getMonth()+1;
  year= a.getYear()-100;
  year = (year== 0)?2000:year;
  (year<1000)? (year += 2000):true;
  year -= ( (month < 3) || ((month == 3) && (day < 21)) )? 622:621;
  switch (month) {
  case 1: (day<21)? (month=10, day+=10):(month=11, day-=20); break;
  case 2: (day<20)? (month=11, day+=11):(month=12, day-=19); break;
  case 3: (day<21)? (month=12, day+=9):(month=1, day-=20);
  break;
  case 4: (day<21)? (month=1, day+=11):(month=2, day-=20);
  break;
  case 5:
  case 6: (day<22)? (month-=3, day+=10):(month-=2, day-=21); break;
  case 7:
  case 8:
  case 9: (day<23)? (month-=3, day+=9):(month-=2, day-=22);
  break;
  case 10:(day<23)? (month=7, day+=8):(month=8, day-=22);
  break;
  case 11:
  case 12:(day<22)? (month-=3, day+=9):(month-=2, day-=21);
  break;
  default:
  break;
  }
  
  function gregorian_to_jalali(gy,gm,gd){
  var g_d_m,jy,jm,jd,gy2,days;
  g_d_m=[0,31,59,90,120,151,181,212,243,273,304,334];
  if(gy > 1600){
  jy=979;
  gy-=1600;
  }else{
  jy=0;
  gy-=621;
  }
  gy2=(gm > 2)?(gy+1):gy;
  days=(365*gy) +(parseInt((gy2+3)/4)) -(parseInt((gy2+99)/100)) +(parseInt((gy2+399)/400)) -80 +gd +g_d_m[gm-1];
  jy+=33*(parseInt(days/12053)); 
  days%=12053;
  jy+=4*(parseInt(days/1461));
  days%=1461;
  if(days > 365){
  jy+=parseInt((days-1)/365);
  days=(days-1)%365;
  }
  jm=(days < 186)?1+parseInt(days/31):7+parseInt((days-186)/30);
  jd=1+((days < 186)?(days%31):((days-186)%30));
  return [jy,jm,jd];
  }
  
  ndt=new Date();
  g_y=ndt.getFullYear();
  g_m=ndt.getMonth()+1;
  g_d=ndt.getDate();
  shamsi=gregorian_to_jalali(g_y,g_m,g_d);
  var nday = shamsi[2];
  document.getElementById("date").innerHTML=(year+"/"+months[month-1]+"/"+nday);
  document.getElementById("clock").innerHTML=(Hour+":"+Minute);
  if(app.retLang()=="eng" || app.retLang()=="esp"){//for English
   mDay=a.getDate();
   mMonth=a.getMonth()+1;
   mYear=a.getFullYear();
   if(mDay<10){
    mDay="0"+mDay;
   }
   if(mMonth<10){
    mMonth="0"+mMonth;
   }
   document.getElementById("date").innerHTML=(mYear+"/"+mMonth+"/"+mDay);
   msgs.style.marginLeft="80px"
  }

  }
  
  setInterval(showdate,0);
 </script>
</body>
</html>